$white: #fff;
$almost-white: #fafafa;
$almost-black: #1e1e1e;
$dark-cyan: #288986;
$light-cyan: #a4e4e2;

$danger-color: #ffcccb;
$danger-color-dark: #ac3743;

$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
