:root {
  --light-cyan: #a4e4e2;
  --dark-cyan: #288986;
  --white: #ffffff;
  --almost-black: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  /*   overflow: hidden; */
}

#root {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
/* #root {
  max-height: 100vh;
  max-width: 100vw;
}
 */
